<template>
  <div>
    <core-navigation-drawer/>
    <core-view/>
  </div>
</template>

<script>

export default {
  name: 'Home',
  components: {
    CoreView: () => import(/*webpackChunkName: "core-view" */ '@/components/core/View'),
    CoreNavigationDrawer: () => import(/* webpackChunkName: "core-navigation-drawer" */ '@/components/core/NavigationDrawer')
  }
}
</script>