<template>
  <v-img height="100" src="https://source.unsplash.com/featured/?textures-patterns">
    <v-container fill-height fluid>
      <v-layout align-center justify-center>
        <v-flex md4 sm8 xs12>
          <v-card class="elevation-14">
            <v-form ref="login-form" v-model="valid" lazy-validation @submit.prevent="login">
              <v-toolbar color="primary" dark>
                <v-toolbar-title>Inicio de sesión</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-text-field
                    v-model="user"
                    :rules="rules.user"
                    label="Usuario"
                    prepend-icon="mdi-account"
                    required/>
                <v-text-field
                    id="password"
                    v-model="pass"
                    :rules="rules.pass"
                    label="Contraseña"
                    prepend-icon="mdi-lock"
                    required
                    type="password"/>
                <span v-if="errorMessage" class="red--text"> {{ errorMessage }}</span>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :disabled="!valid" color="primary" type="submit">Iniciar sesión</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-img>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    errorMessage: null,
    user: '',
    pass: '',
    valid: false,
    rules: {
      user: [v => !!v || 'Ingresa tu usuario'],
      pass: [v => !!v || 'Ingresa tu contraseña']
    }
  }),
  methods: {
    login() {
      if (!this.validateForm()) return;

      this.errorMessage = null
      this.$axios.post('/login', {user: this.user, pass: this.pass}).then(response => {
        if (response.status === 200) {
          localStorage.setItem('user', JSON.stringify(response.data.user))
          localStorage.setItem('jwt', response.data.token)

          if (localStorage.getItem('jwt') != null) {
            if (this.$route.params.nextUrl != null) {
              this.$router.push(this.$route.params.nextUrl)
            } else {
              this.$router.push('dashboard')
            }
          }
        }
      }).catch(err => {
        if (err.response.status === 401) {
          this.errorMessage = err.response.data
          this.pass = ''
        }
        this.$refs["login-form"].resetValidation()
      })
    },
    validateForm() {
      return this.$refs["login-form"].validate()
    }
  }
}
</script>