<template>
  <v-app id="app">
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  created() {
    this.$axios.interceptors.response.use(undefined, (err) => {
      if (err.response.status === 500)
        this.$swal({title: '¡Error!', text: err.response.data, icon: 'error'})
      if (err.response.status === 401)
        this.$swal({title: '¡Cuidado!', text: err.response.data, icon: 'warning'})

      return Promise.reject(err)
    })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
