<template>
  <v-navigation-drawer
      app
      color="secondary"
      dark
      expand-on-hover
      permanent
      right
  >
    <template v-slot:prepend>
      <v-list-item two-line>
        <v-list-item-content>
          <v-list-item-title>{{ user.user }}</v-list-item-title>
          <v-list-item-subtitle>{{ user.is_admin ? 'Administrador' : 'Usuario' }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>

    <v-divider></v-divider>

    <v-list dense>
      <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.to"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="ma-4">
        <v-btn block @click="logout"> Salir</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'CoreNavigationDrawer',
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'))
    }
  },
  data: () => ({
    items: [
      {title: 'Inicio', icon: 'mdi-home-outline', to: '/dashboard'},
      {title: 'Muestras', icon: 'mdi-grid', to: '/muestras/lista'},
      {title: 'Laboratorio', icon: 'mdi-chat-outline', to: '/laboratorio'}
    ]
  }),
  methods: {
    logout() {
      localStorage.clear()
      this.$router.push({name: 'login'})
    }
  }
}
</script>